body {
    background-color: rgb(246, 246,246);
}

h1 {
    color: rgb(227,221,221);
    font-size: 70px;
    font-weight: lighter;
    
}

button {
    display: flex;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(227,221,221);
    font-weight: bold;
    opacity: 0;
}

button:hover {
    display: flex;
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(227,221,221);
    font-weight: bold;
    opacity: 1;
    transition: all 0.5s;
}


li {
    color: rgb(227, 221, 221);
}


p {
    opacity: 1 !important;
}


.taskCountText {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    color: rgb(175, 156, 156)
}

.listText {
    padding: 0px;
    margin: 0px;
    color: rgb(175, 156, 156)
}

#deleteAll {
    opacity: 1 !important;
    height: 30px;
    width: 90px;
    font-size: 10px;
    transition: none;
    color: rgb(141, 137, 137)
}

#deleteAll:hover {
    opacity: 1 !important;
    height: 30px;
    width: 90px;
    font-size: 10px;
    transition: none;
    color: rgb(141, 137, 137)
    
}